<mat-toolbar color="primary"> ค้อน กรรไกร กระดาษ :D </mat-toolbar>

<div class="content">
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2>ฉัน</h2>
        <button mat-fab color="primary" class="score">{{ scores[0] }}</button>
      </div>
      <h3>เลือกเลยจะเอาอันไหน</h3>
      <div class="content2">
        <i
          (click)="pick(0)"
          [ngClass]="{ selectedWeapon: playerSelected === 0 }"
          class="fa fa-hand-rock-o"
        ></i>
        <i
          (click)="pick(1)"
          [ngClass]="{ selectedWeapon: playerSelected === 1 }"
          class="fa fa-hand-paper-o"
        ></i>
        <i
          (click)="pick(2)"
          [ngClass]="{ selectedWeapon: playerSelected === 2 }"
          class="fa fa-hand-scissors-o"
        ></i>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2>บอท</h2>
        <button mat-fab color="accent" class="score">{{ scores[1] }}</button>
      </div>
      <br /><br />

      <div *ngIf="enemySelected !== -1" class="flex-container flex-center">
        <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o"></i>
        <i *ngIf="enemySelected === 1" class="fa fa-hand-paper-o"></i>
        <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o"></i>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div
  *ngIf="!loading && isResultShow"
  class="flex-container flex-center"
  style="flex-direction: column"
>
  <div [ngSwitch]="theResult">
    <ng-template [ngSwitchCase]="0"> <h1>ชนะ ดวงดีนะเนี่ย</h1></ng-template>
    <ng-template [ngSwitchCase]="1">
      <h1>แพ้สะแล้ว ไม่เป็นไรเอาใหม่</h1>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <h1>สะ สะ เสมอไม่จริงนะ!</h1>
    </ng-template>
    <ng-template ngSwitchDefault> </ng-template>
  </div>
  <p>เลือกอาวุธหรือจะกดรีเซ็ทสกอร์ก็ได้นะ</p>
  <button (click)="reset()" mat-raised-button color="primary">รีแต้ม</button>
</div>

<div class="flex-container flex-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
